<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Number Plate Detection</title>
  <h1 class="intro">Number Plate Detection</h1>
</head>


<body>
    <!-- Title -->
    <div class="container">
        <div id="content" style="margin-top:2em">
        <!-- Body -->
         <div>
             <div class="form">
	        <form method=post enctype=multipart/form-data>
	  	        <input type=file name=file  size="60" accept=".png, .jpg, .jpeg"/>
                <input type=submit value=Predict>
	        </form>
	        </div>
         </div>
        </div>
    </div>
</body>

</html>